In [1]:
if (!require(readr)) install.packages("readr")
if (!require(dplyr)) install.packages("dplyr")
if (!require(DT)) install.packages("DT")
if (!require(ggrepel)) install.packages("ggrepel")
if (!require(leaflet)) install.packages("leaflet")

Loading required package: readr

Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: DT

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘DT’”
Installing package into ‘/Users/robsontrajano/Library/R/x86_64/4.1/library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘later’, ‘htmlwidgets’, ‘crosstalk’, ‘jquerylib’, ‘promises’

The downloaded binary packages are in
	/var/folders/83/_gttb8hn67dfsswspxfpc23w0000gn/T//RtmpncYPyt/downloaded_packages

Loading required package: ggrepel

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘ggrepel’”
Installing package into ‘/Users/robsontrajano/Library/R/x86_64/4.1/library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘colorspace’, ‘gtable’, ‘isoband’, ‘farver’, ‘labeling’, ‘munsell’, ‘RColorBrewer’, ‘viridisLite’, ‘ggplot2’, ‘scales’

The downloaded binary packages are in
	/var/folders/83/_gttb8hn67dfsswspxfpc23w0000gn/T//RtmpncYPyt/downloaded_packages

Loading required package: leaflet

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘leaflet’”
Installing package into ‘/Users/robsontrajano/Library/R/x86_64/4.1/library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘terra’, ‘gridExtra’, ‘markdown’, ‘png’, ‘raster’, ‘sp’, ‘viridis’, ‘leaflet.providers’


Warning message in download.file(url, destfile, method, mode = "wb", ...):
“downloaded length 8224768 != reported length 96919656”
Warning message in download.file(url, destfile, method, mode = "wb", ...):
“URL 'https://cran.r-project.org/bin/macosx/contrib/4.1/terra_1.4-22.tgz': Timeout of 60 seconds was reached”

Error in download.file(url, destfile, method, mode = "wb", ...) :
  download from 'https://cran.r-project.org/bin/macosx/contrib/4.1/terra_1.4-22.tgz' failed

Warning message in download.packages(pkgs, destdir = tmpd, available = available, :
“download of package ‘terra’ failed”

The downloaded binary packages are in
	/var/folders/83/_gttb8hn67dfsswspxfpc23w0000gn/T//RtmpncYPyt/downloaded_packages

In [7]:
path <- "../data/84cf68aa-8c6c-487a-96bf-902ff00a0128.csv"

In [8]:
df <- read_csv(path)

Rows: 15 Columns: 19

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): Region, PopnAllAges, IncidentRate, PopnAged12Plus, RateCharged12Pl...
dbl  (1): _id


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [9]:
summary(df)

      _id          Region           NumIncidents    PopnAllAges
 Min.   : 1.0   Length:15          Min.   :  2625   Length:15
 1st Qu.: 4.5   Class :character   1st Qu.: 68957   Class :character
 Median : 8.0   Mode  :character   Median :106818   Mode  :character
 Mean   : 8.0                      Mean   : 91732
 3rd Qu.:11.5                      3rd Qu.:128268
 Max.   :15.0                      Max.   :142375
                                   NA's   :9
 IncidentRate         NumCleared    ClearedByCharge ClearedOtherwise
 Length:15          Min.   : 1305   Min.   :  770   Min.   :  535
 Class :character   1st Qu.:37692   1st Qu.:26575   1st Qu.:11116
 Mode  :character   Median :48568   Median :35068   Median :13499
                    Mean   :44118   Mean   :31658   Mean   :12460
                    3rd Qu.:57642   3rd Qu.:41097   3rd Qu.:16545
                    Max.   :71533   Max.   :52189   Max.   :19344
                    NA's   :9       NA's   :9       NA's   :9
  TotalCharged   PopnAged12Plus     RateCharged12Plus  NumAdultsCharged
 Min.   :  750   Length:15          Length:15          Min.   :  675
 1st Qu.:26490   Class :character   Class :character   1st Qu.:24190
 Median :34016   Mode  :character   Mode  :character   Median :31322
 Mean   :30862                                         Mean   :28289
 3rd Qu.:40029                                         3rd Qu.:36826
 Max.   :50378                                         Max.   :45941
 NA's   :9                                             NA's   :9
 PopnAged18Plus     RateAdultsCharged18Plus NumYouthCharged PopnAged12to17
 Length:15          Length:15               Min.   :  75    Length:15
 Class :character   Class :character        1st Qu.:2300    Class :character
 Mode  :character   Mode  :character        Median :2695    Mode  :character
                                            Mean   :2574
                                            3rd Qu.:3203
                                            Max.   :4437
                                            NA's   :9
 RateCharged12to17  NumYouthNotCharged RateNotCharged12to17
 Length:15          Min.   : 135       Length:15
 Class :character   1st Qu.:2423       Class :character
 Mode  :character   Median :3419       Mode  :character
                    Mean   :3310
                    3rd Qu.:4311
                    Max.   :6191
                    NA's   :9

In [11]:
length(df)

[1] 19

In [13]:
print(head(df))

# A tibble: 6 × 19
  `_id` Region  NumIncidents PopnAllAges IncidentRate NumCleared ClearedByCharge
  <dbl> <chr>          <dbl> <chr>       <chr>             <dbl>           <dbl>
1     1 Central       142375 4,451,480   3,198.37          71533           52189
2     2 East          105890 2,781,428   3,807.04          51200           35353
3     3 North          56646 860,589     6,582.24          34944           23839
4     4 Toronto       107747 2,826,498   3,812.03          45935           34784
5     5 West          135108 2,872,057   4,704.22          59790           43012
6     6 Other           2625 .           .                  1305             770
# … with 12 more variables: ClearedOtherwise <dbl>, TotalCharged <dbl>,
#   PopnAged12Plus <chr>, RateCharged12Plus <chr>, NumAdultsCharged <dbl>,
#   PopnAged18Plus <chr>, RateAdultsCharged18Plus <chr>, NumYouthCharged <dbl>,
#   PopnAged12to17 <chr>, RateCharged12to17 <chr>, NumYouthNotCharged <dbl>,
#   RateNotCharged12to17 <chr>

In [14]:
head(df)

  _id Region  NumIncidents PopnAllAges IncidentRate NumCleared ClearedByCharge
1 1   Central 142375       4,451,480   3,198.37     71533      52189
2 2   East    105890       2,781,428   3,807.04     51200      35353
3 3   North    56646       860,589     6,582.24     34944      23839
4 4   Toronto 107747       2,826,498   3,812.03     45935      34784
5 5   West    135108       2,872,057   4,704.22     59790      43012
6 6   Other     2625       .           .             1305        770
  ClearedOtherwise TotalCharged PopnAged12Plus RateCharged12Plus
1 19344            50378        3,835,077      1,313.61
2 15847            34599        2,439,593      1,418.23
3 11105            24175        758,123        3,188.80
4 11151            33434        2,497,207      1,338.86
5 16778            41839        2,512,137      1,665.47
6   535              750        .              .
  NumAdultsCharged PopnAged18Plus RateAdultsCharged18Plus NumYouthCharged
1 45941            3,500,664      1,312.35                4437
2 31770            2,255,789      1,408.38                2829
3 21962            702,710        3,125.33                2213
4 30873            2,340,999      1,318.80                2561
5 38511            2,317,564      1,661.70                3328
6   675            .              .                         75
  PopnAged12to17 RateCharged12to17 NumYouthNotCharged RateNotCharged12to17
1 334,413        1,326.80          6191               1,851.30
2 183,804        1,539.14          4312               2,345.98
3 55,413         3,993.65          2530               4,565.72
4 156,208        1,639.48          2387               1,528.09
5 194,573        1,710.41          4308               2,214.08
6 .              .                  135               .

In [19]:
# drop some columns
drop <- c("_id", "IncidentRate", "ClearedOtherwise", "NumYouthCharged", "PopnAged12to17", "RateCharged12to17", "NumYouthNotCharged", "RateNotCharged12to17")

In [20]:
df <- df[, !(names(df) %in% drop)]

In [23]:
print(df)

# A tibble: 15 × 11
   Region  NumIncidents PopnAllAges NumCleared ClearedByCharge TotalCharged
   <chr>          <dbl> <chr>            <dbl>           <dbl>        <dbl>
 1 Central       142375 4,451,480        71533           52189        50378
 2 East          105890 2,781,428        51200           35353        34599
 3 North          56646 860,589          34944           23839        24175
 4 Toronto       107747 2,826,498        45935           34784        33434
 5 West          135108 2,872,057        59790           43012        41839
 6 Other           2625 .                 1305             770          750
 7 NA                NA NA                  NA              NA           NA
 8 NA                NA NA                  NA              NA           NA
 9 NA                NA NA                  NA              NA           NA
10 NA                NA NA                  NA              NA           NA
11 NA                NA NA                  NA              NA           NA
12 NA                NA NA                  NA              NA           NA
13 NA                NA NA                  NA              NA           NA
14 NA                NA NA                  NA              NA           NA
15 NA                NA NA                  NA              NA           NA
# … with 5 more variables: PopnAged12Plus <chr>, RateCharged12Plus <chr>,
#   NumAdultsCharged <dbl>, PopnAged18Plus <chr>, RateAdultsCharged18Plus <chr>

In [24]:
is.na(df)

      Region NumIncidents PopnAllAges NumCleared ClearedByCharge TotalCharged
 [1,] FALSE  FALSE        FALSE       FALSE      FALSE           FALSE
 [2,] FALSE  FALSE        FALSE       FALSE      FALSE           FALSE
 [3,] FALSE  FALSE        FALSE       FALSE      FALSE           FALSE
 [4,] FALSE  FALSE        FALSE       FALSE      FALSE           FALSE
 [5,] FALSE  FALSE        FALSE       FALSE      FALSE           FALSE
 [6,] FALSE  FALSE        FALSE       FALSE      FALSE           FALSE
 [7,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
 [8,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
 [9,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
[10,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
[11,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
[12,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
[13,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
[14,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
[15,]  TRUE   TRUE         TRUE        TRUE       TRUE            TRUE
      PopnAged12Plus RateCharged12Plus NumAdultsCharged PopnAged18Plus
 [1,] FALSE          FALSE             FALSE            FALSE
 [2,] FALSE          FALSE             FALSE            FALSE
 [3,] FALSE          FALSE             FALSE            FALSE
 [4,] FALSE          FALSE             FALSE            FALSE
 [5,] FALSE          FALSE             FALSE            FALSE
 [6,] FALSE          FALSE             FALSE            FALSE
 [7,]  TRUE           TRUE              TRUE             TRUE
 [8,]  TRUE           TRUE              TRUE             TRUE
 [9,]  TRUE           TRUE              TRUE             TRUE
[10,]  TRUE           TRUE              TRUE             TRUE
[11,]  TRUE           TRUE              TRUE             TRUE
[12,]  TRUE           TRUE              TRUE             TRUE
[13,]  TRUE           TRUE              TRUE             TRUE
[14,]  TRUE           TRUE              TRUE             TRUE
[15,]  TRUE           TRUE              TRUE             TRUE
      RateAdultsCharged18Plus
 [1,] FALSE
 [2,] FALSE
 [3,] FALSE
 [4,] FALSE
 [5,] FALSE
 [6,] FALSE
 [7,]  TRUE
 [8,]  TRUE
 [9,]  TRUE
[10,]  TRUE
[11,]  TRUE
[12,]  TRUE
[13,]  TRUE
[14,]  TRUE
[15,]  TRUE

In [25]:
df

   Region  NumIncidents PopnAllAges NumCleared ClearedByCharge TotalCharged
1  Central 142375       4,451,480   71533      52189           50378
2  East    105890       2,781,428   51200      35353           34599
3  North    56646       860,589     34944      23839           24175
4  Toronto 107747       2,826,498   45935      34784           33434
5  West    135108       2,872,057   59790      43012           41839
6  Other     2625       .            1305        770             750
7  NA          NA       NA             NA         NA              NA
8  NA          NA       NA             NA         NA              NA
9  NA          NA       NA             NA         NA              NA
10 NA          NA       NA             NA         NA              NA
11 NA          NA       NA             NA         NA              NA
12 NA          NA       NA             NA         NA              NA
13 NA          NA       NA             NA         NA              NA
14 NA          NA       NA             NA         NA              NA
15 NA          NA       NA             NA         NA              NA
   PopnAged12Plus RateCharged12Plus NumAdultsCharged PopnAged18Plus
1  3,835,077      1,313.61          45941            3,500,664
2  2,439,593      1,418.23          31770            2,255,789
3  758,123        3,188.80          21962            702,710
4  2,497,207      1,338.86          30873            2,340,999
5  2,512,137      1,665.47          38511            2,317,564
6  .              .                   675            .
7  NA             NA                   NA            NA
8  NA             NA                   NA            NA
9  NA             NA                   NA            NA
10 NA             NA                   NA            NA
11 NA             NA                   NA            NA
12 NA             NA                   NA            NA
13 NA             NA                   NA            NA
14 NA             NA                   NA            NA
15 NA             NA                   NA            NA
   RateAdultsCharged18Plus
1  1,312.35
2  1,408.38
3  3,125.33
4  1,318.80
5  1,661.70
6  .
7  NA
8  NA
9  NA
10 NA
11 NA
12 NA
13 NA
14 NA
15 NA

In [26]:
# drop all na values
df <- df[!is.na(df),]

ERROR: Error: Must subset rows with a valid subscript vector.
✖ Subscript `!is.na(df)` must be a simple vector, not a matrix.